DATABASE_URL="postgresql://neondb_owner:npg_qv51cNPLWkOM@ep-holy-hat-acyuwwdk-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

NEXTAUTH_SECRET="gere-uma-chave-segura-32-chars-aqui"
NEXTAUTH_URL="https://seu-projeto.vercel.app"

BASE44_APP_ID="690248a304b1770ec9b7c4ed"
BASE44_API_KEY="2140f02bae1b47739601b959d5112078"
BASE44_ENTITY_NAME="Notificacoes"

OPENWEATHER_API_KEY="sua-chave-openweathermap"
BLOB_READ_WRITE_TOKEN="seu-token-vercel-blob"
